<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css">
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-input">Airline:</label>
    <select class="rowLink" name="airline" id="airline-select" required>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport-input">Airport:</label>
    <select class="rowLink" name="aiport" id="airport-select" required>
      //'AUS' , 'DFW' , 'DEN' , 'LAX' , 'SAN'
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flightNo">Flight Number:</label>
    <input class="rowLink"type="text" name="flightNo" id="flightNo-input"min="10"max="9999" required>
    <label for="departs">Departs:</label>
    <input class="rowLink"type="datetime-local" name="departs" id="departs-input" required>
    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>